body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
}

div {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: wheat;
}

h1, h2 {
    text-shadow: 1px 1px 4px #ccc;
}

.link-array a {
    margin: 8px;
}

.divider {
    display: flex;
    align-items: center;
    margin: 1em -1em;
}

.divider:before, .divider:after {
    content: "";
    flex: 1;
    margin: 0 1em;
    height: 6px;
    filter: blur(2px);
    border-radius: 5px;
}

.divider:before {
    background: linear-gradient(to right, blue, hotpink);
}

.divider:after {
    background: linear-gradient(to left, blue, hotpink);
}
